# PyCharm files
.idea/

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Survey temporary drafts
survey_drafts/

# Survey response data
survey_responses/
survey_responses.xlsx

# Temporary files
*.tmp